<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag("profile.png", :alt => "", :class => "profile-picture") %>
                <div class="intro-text">
                    <h1 class="name">Alexander Mastryukov</h1>
                    <div class="skill-divider">
                      <hr>
                        <i class="fa fa-code code-line" aria-hidden="true"></i>
                      <hr>
                    </div>
                    <span class="skills">Programming - Video Games - Environment Design</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 header-pattern"></div>
    </div>
</header>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="about-me-text">About Me</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <p>My name is Alexander Mastryukov. I love making things - whether
                they are video games, websites, music or handmade birthday gifts.
                <br><br>
                Over the years, I have acquired an assortment of skills relevant
                to my passion, and have used them to create various projects. This
                website is one of them. You can check out more by visiting the
                'Portfolio' tab in the header.
                <br><br>
                To expand my horizon and learn more, I created a blog for myself.
                In my blog, I will discuss various topics - from new technologies
                to life lessons. To read my blog, visit the 'Blog' tab in the header.
                <br><br>
                Thank you for taking your time to read about me. If you wish to know
                more about the things I made or if you just want to chat, you can contact me
                by email or via social media links available in the footer.
              </p>
          </div>
      </div>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
