// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-me-text {
  padding-bottom: 20px;
}

.header-pattern {
  background-image: url("/assets/pattern.png");
  background-repeat: repeat-x;
  height: 50px;
}

header {
  text-align: center;
  background-image: url("/assets/bg.png");
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
